@font-face {
  font-family: 'Roboto Thin';
  src: url('Roboto-Thin.ttf') format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Thin', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
}

.pokeListUl {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
  width: 90%;
}

.sprite {
  width: 96px;
  height: 96px;
}

.pokeEntry {
  list-style-type: none;
  width: 200px;
  height: 180px;
  margin: 2px;
}
button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.buttonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2px;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pokemonId {
  display: flex;
  justify-content: center;
  align-items: center;
}


.yellow {
  background-color: #f0e68c;
  color: #000;
  fill: #000;
  border-color: #000;
}

.white {
  background-color: #ffffff;
  color: #000;
  fill: #000;
  border-color: #000;
}

.red {
  background-color: #f08080;
  color: #000;
  fill: #000;
  border-color: #000;
}

.purple {
  background-color: #9b59b6;
  color: #fff;
  fill: #fff;
  border-color: #fff;
}

.pink {
  background-color: #ffc0cb;
  color: #000;
  fill: #000;
  border-color: #000;
}

.green {
  background-color: #2ecc71;
  color: #000;
  fill: #000;
  border-color: #000;
}

.gray {
  background-color: #7f8c8d;
  color: #fff;
  fill: #fff;
  border-color: #fff;
}

.brown {
  background-color: #A0522D;
  color: #fff;
  fill: #fff;
  border-color: #fff;
}

.blue {
  background-color: #3498db;
  color: #fff;
  fill: #fff;
  border-color: #fff;
}

.black {
  background-color: #000000;
  color: #fff;
  fill: #fff;
  border-color: #fff;
}



/*header*/

header {
  width: 100%;
}
header nav{
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  padding: 10px;
  color: white;
  width: 100%;
  box-sizing: border-box; 
}

header nav span {
  font-size: 1.4em;
}

header nav input[type="text"] {
  width: 50%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin-left: 50px;
}

.hidden {
  display: none;
}

/* Customize your search bar */
header nav input[type="text"]::placeholder {
  color: #888;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #3f51b5;
  padding: 10px;
  color: white;
  box-sizing: border-box; 
}
button {
  border: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
}

.close {
  font-size: 28px;
  font-weight: bold;
  margin-left: 100%;
  margin-right: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.typeList {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.typeList li {
  width: 70px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  line-height: normal;
  gap : 5px;
}

.typeIcon {
  height: 15px;
  width: 15px;
}

.genList {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 16.6px;
}
.genList span {
  width: 20px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  line-height: normal;
}

/* Define CSS classes for each color */
.normal { background-color: #A8A77A; }
.fire { background-color: #EE8130; }
.water { background-color: #6390F0; }
.electric { background-color: #F7D02C; }
.grass { background-color: #7AC74C; }
.ice { background-color: #96D9D6; }
.fighting { background-color: #C22E28; }
.poison { background-color: #A33EA1; }
.ground { background-color: #E2BF65; }
.flying { background-color: #A98FF3; }
.psychic { background-color: #F95587; }
.bug { background-color: #A6B91A; }
.rock { background-color: #B6A136; }
.ghost { background-color: #735797; }
.dragon { background-color: #6F35FC; }
.dark { background-color: #705746; }
.steel { background-color: #B7B7CE; }
.fairy { background-color: #D685AD; }
/* Generation I - Red */
.gen1 {
  background-color: #ff5252;
  border: 2px solid #d32f2f; /* Darker shade of red for border */
  color: #ffffff; /* White font color for better contrast */
}

/* Generation II - Silver */
.gen2 {
  background-color: #b0bec5;
  border: 2px solid #78909c; /* Darker shade of silver for border */
  color: #000000; /* Black font color */
}

/* Generation III - Green */
.gen3 {
  background-color: #66bb6a;
  border: 2px solid #388e3c; /* Darker shade of green for border */
  color: #ffffff; /* White font color for better contrast */
}

/* Generation IV - Blue */
.gen4 {
  background-color: #64b5f6;
  border: 2px solid #1976d2; /* Darker shade of blue for border */
  color: #ffffff; /* White font color for better contrast */
}

/* Generation V - Black */
.gen5 {
  background-color: #424242;
  border: 2px solid #212121; /* Darker shade of black for border */
  color: #ffffff; /* White font color for better contrast */
}

/* Generation VI - Orange */
.gen6 {
  background-color: #ffb74d;
  border: 2px solid #f57c00; /* Darker shade of orange for border */
  color: #000000; /* Black font color */
}

/* Generation VII - Purple */
.gen7 {
  background-color: #ba68c8;
  border: 2px solid #7b1fa2; /* Darker shade of purple for border */
  color: #ffffff; /* White font color for better contrast */
}

/* Generation VIII - Pink */
.gen8 {
  background-color: #f48fb1;
  border: 2px solid #d81b60; /* Darker shade of pink for border */
  color: #000000; /* Black font color */
}